DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=import1c
DB_USERNAME=root
DB_PASSWORD=pass




APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vFK7L7qOJda14FrPrJ6i420gHtY2cGUf1DmEV5Y/IWc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
